<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
  </head>
  <body>
    <!-- App -->
    <div id="app">
      <div class="nav-bar"></div>

      <div class="cart">Cart {{ cart }}</div>

      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <img :src="image" >
          </div>
          <div class="product-info">
            <h1>{{ title }}</h1>
            <p>{{ sale }}</p>
            <p v-if="inventory > 10">In Stock</p>
            <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out!</p>
            <p v-else>Out of Stock</p>
            <ul>
              <li v-for="detail in details">{{ detail }}</li>
            </ul>
            <div
              v-for="(variant, index) in variants"
              :key="variant.id"
              @mouseover="updateVariant(index)"
              class="color-circle"
              :style="{ backgroundColor: variant.color }"
            >
            </div>
            <!-- <div v-for="size in sizes" :key="size">{{ size }}</div> -->
            <button
              class="button"
              :class="{ disabledButton: !inStock }"
              :disabled="!inStock"
              @click="addToCart"
            >
              Add to cart
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app')
    </script>

    <!-- 
      1. Create a new Vue instance with the Vue function
      2. Pass in an object with a property called data
      3. The data property is an object with a property called product
      4. The value of product is "Socks"

      v-bind: binds an attribute to an expression
      v-bind key -> :key
      v-bind style -> :style
      v-bind class -> :class
      v-bind disabled -> :disabled
      v-bind href -> :href
      v-bind src -> :src
      v-bind alt -> :alt
      v-bind title -> :title
      v-bind id -> :id
      v-bind type -> :type
      v-bind value -> :value
      v-bind name -> :name
      v-bind placeholder -> :placeholder
      v-on:click -> @click
      v-on:mouseover -> @mouseover
      v-if
      v-else-if
      v-else
      v-for
      v-model
      v-show
      v-pre
      v-cloak
      v-once

    -->
  </body>
</html>
